/* Pico Overrides*/

[data-theme="dark"],
:root:not([data-theme="light"]) {
  --background-color: #04080F;
}

/* My Rules: Default Properties (overwriten by @media) */

#main_page_logo_text {
    position: absolute;
    font-size: 0.5em;   

    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main_page_logo_svg {
    aspect-ratio: 1.618;
    height: 26vh;
    width: 42vh;
}

#main_page_logo {
    height: fit-content;
    width: fit-content;

    text-align: center;
    font-size: 15vh;

    margin: auto;
    margin-bottom: 20vh;
    margin-top: 15vh;
}

/* Treats as mobile */
@media (min-width: 576px) {
    #main_page_logo_text { 
        font-size: 0.58em;
        top: 37.5%;
    }
    #main_page_logo_svg {
        height: 30vh;
        width: 48.54vh;
    }
    .desktop_navlink {
        color: white;
        font-size: large;
        text-decoration: none;

        position: absolute;
        display: none;
    }
    .hamburger_button {
        display: block;
    }
}

/* Treats as desktop */
@media (min-width: 768px) {
    #main_page_logo_text { 
        font-size: 0.68em;
        top: 42%;
    }
    #main_page_logo_svg {
        height: 37vh;
        width: 60vh;
    }
    #navigation_header {
        margin: 0 auto;
        margin-bottom: 15vh;

        width: 100%;
        padding: 1em;
    }
    .desktop_navlink {
        color: white;
        font-size: large;
        text-decoration: none;
        display: block;
        position: relative;
    }
    .hamburger_button {
        display: none;
    }
}

@media (min-width: 1024px) {
    #main_page_logo_text { 
        font-size: 0.7em;
    }
   
}
@media (min-width: 1280px) {
    
}
@media (min-width: 1536px) {
    
}

#main_section {
    padding: 2em 3em;
    margin-bottom: 1em;
}


/* Old Css*/ 

#header_div {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 

    padding: 32px; 
    margin: 1em 0px 0px 0px; 
    border-radius: 32px 32px 0px 0px; 
}

#main_title {
    padding: 24px 0px; 
    display: inline-block; 
    margin: 0px;
    font-size: 2em;
}

#logo_title {
    padding: 24px 0px; 
    display: inline-block; 
    margin: 0px;
}


#input_field {
    margin-bottom: 4px;
}

#input_label {
    margin-top: 16px;
}



.form_error_message {
    color: rgb(219, 99, 99);
    font-size: 0.8em;
    font-style: italic;
}

@media (max-width: 500px) {
    .container {
        margin: 0px;
        padding: 0px;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    #logo_link {
        max-width: 71px;
        max-height: 44px;
    }
}

@keyframes fade {
    from { transform: scale(0.5); }
    to { transform: scale(1.0); }
}

.appearing * {
    transform: scale(0.7);
    opacity: 0.5;
    transition: opacity 0.5s, transform 0.5s;
    transition-timing-function: cubic-bezier();
}

.visible * {
    transform: scale(1.0);
    opacity: 1.0;
}

.visible {
    transform: scale(1.0);
    opacity: 1.0;
}
